@model WEB_ASG.Models.Competition

@{
    ViewData["Title"] = "Competition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Competition</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaInterestID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaInterestID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResultReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResultReleaseDate)
        </dd>
    </dl>
    @if (Model.CompetitorList.Count > 0)
    {
        for (int i = 0; i < Model.CompetitorList.Count; i++)
        {
            <dl class="row">
                <dt class="col-3">
                    <label asp-for="CompetitorList[i].CompetitorID"></label> -
                    @Model.CompetitorList[i].CompetitorID
                </dt>
                <dd class="col-9">
                    @Model.CompetitorList[i].CompetitorName | <a class="btn-link" asp-action="ViewTeams" asp-route-competitorID="@Model.CompetitorList[i].CompetitorID">Edit</a> |                  
                </dd>
            </dl>
        }
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
