@model IEnumerable<WEB_ASG.Models.Competition>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Books</h4>
    @{ 
        bool isCompetitor = false;
        int competitorID = default(int);
        if (Context.Session.GetString("Role") == "Competitor")
        {
            isCompetitor = true;
            competitorID = Context.Session.GetInt32("ID") ?? default(int);
        }
    }
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CompetitionID)</th>
                    <th>@Html.DisplayNameFor(model => model.CompetitionName)</th>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                    <th>@Html.DisplayNameFor(model => model.ResultReleaseDate)</th>
                    @if (isCompetitor)
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompetitionID</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.ResultReleaseDate</td>
                        @if (isCompetitor)
                        {
                            <td>
                                <a asp-action="Create" asp-controller="CompetitionSubmission"
                                   asp-route-id="@competitorID">Join now</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}