@model WEB_ASG.Models.CompetitionViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Competitions</h4>
@{
    bool isCompetitor = false;
    if (Context.Session.GetString("Role") == "Competitor")
    {
        isCompetitor = true;
    }
}
@if (Model.competitionList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th>Area Of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.competitionList)
                {
                    string selectedRow = "";
                    if ((ViewData["selectedCompID1"].ToString()
                     == item.CompetitionID.ToString()) || (ViewData["selectedCompID2"].ToString()
                     == item.CompetitionID.ToString()))
                    {
                        // Highlight the selected row
                        selectedRow = "class='table-primary'";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.CompetitionID</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.AreaInterest</td>
                        <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
                        <td>@item.EndDate.ToString("MM/dd/yyyy hh:mm tt")</td>
                        <td>@item.ResultReleaseDate.ToString("MM/dd/yyyy")</td>
                        @if (isCompetitor)
                        {
                            <td>
                                <a asp-action="Index" asp-controller="Competition"
                                   asp-route-compId1="@item.CompetitionID">View Judge</a> |
                                <a asp-action="Index" asp-controller="Competition"
                                   asp-route-compId2="@item.CompetitionID">View Criteria</a> |
                                <a asp-action="Create" asp-controller="CompetitionSubmission"
                                   asp-route-id="@item.CompetitionID">Join Now</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Index" asp-controller="Competition"
                                   asp-route-compId1="@item.CompetitionID">View Judge</a> |
                                <a asp-action="Index" asp-controller="Competition"
                                   asp-route-compId2="@item.CompetitionID">View Criteria</a> |
                                <a asp-action="Index" asp-controller="Competition"
                                   asp-route-compId3="@item.CompetitionID">View Comments</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}
<span style="color:red;">@TempData["ErrorMessage"]</span>

<!-- Display a list of judges  for each competition -->
@if (ViewData["selectedCompID1"].ToString() != "")
{
    if (Model.judgeVMList.Count != 0)
    {
        <h5>
            Judges for Competition
            @ViewData["selectedCompID1"].ToString() :
        </h5>

        <div class="table-responsive">
            <table id="viewBook" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Judge ID</th>
                        <th>Salutation</th>
                        <th>Judge Name</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.judgeVMList)
                    {
                        <tr>
                            <td>@item.JudgeID</td>
                            <td>@item.Salutation</td>
                            <td>@item.JudgeName</td>
                            <td>@item.EmailAddr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h5>No Judge for selected competition!</h5>
    }
}
<!-- Display a list of criteria  for each competition -->
@if (ViewData["selectedCompID2"].ToString() != "")
{
    if (Model.criteriaList.Count != 0)
    {
        <h5>
            Criterias for Competition
            @ViewData["selectedCompID2"].ToString() :
        </h5>

        <div class="table-responsive">
            <table id="viewBook" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Criteria ID</th>
                        <th>Criteria Name</th>
                        <th>Weightage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.criteriaList)
                    {
                        <tr>
                            <td>@item.CriteriaID</td>
                            <td>@item.CriteriaName</td>
                            <td>@item.Weightage</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h5>No Criteria for selected competition!</h5>
    }
}

<!-- Display a list of comments  for each competition -->
@if (ViewData["selectedCompID3"].ToString() != "")
{
    if (Model.commentList.Count != 0)
    {
        <h5>
            Comments for Competition
            @ViewData["selectedCompID3"].ToString() :
        </h5>

        <div class="table-responsive">
            <table id="viewBook" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Comment ID</th>
                        <th>Description</th>
                        <th>Date/Time Posted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.commentList)
                    {
                        <tr>
                            <td>@item.CommentID</td>
                            <td>@item.Description</td>
                            <td>@item.DateTimePosted</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <form asp-controller="Competition" asp-action="AddComment">
            <input type="text" placeholder="Write a Comment" asp-for="@Model.postComment.Description"/>
            <input type="hidden" asp-for="@Model.postComment.CompetitionID" />
            <input type="hidden" asp-for="@Model.postComment.DateTimePosted" value="@DateTime.Now"/>
            <input type="submit" value="Post"/>
        </form>
    }
    else
    {
        <h5>No Comments for selected competition!</h5>
    }
}