@model WEB_ASG.Models.CompetitorCompetitionViewModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Competition Joined</h4>

@if (Model.competitionList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th>Area Of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.competitionList)
                {
                    string selectedRow = "";
                    if (ViewData["selectedCompID"].ToString()
                     == item.CompetitionID.ToString())
                    {
                        // Highlight the selected row
                        selectedRow = "class='table-primary'";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.CompetitionID</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.AreaInterest</td>
                        <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
                        <td>@item.EndDate.ToString("MM/dd/yyyy hh:mm tt")</td>
                        <td>@item.ResultReleaseDate.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a asp-action="Edit" asp-controller="CompetitionSubmission"
                               asp-route-id="@item.CompetitionID">My Submission</a> |
                            <a asp-action="Index" asp-controller="Competitor"
                               asp-route-compId="@item.CompetitionID">View Score</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}

<p><a asp-controller="Competition" asp-action="Index">Join a Competition</a></p>

<!-- Display a list of Score  for each competition -->
@if (ViewData["selectedCompID"].ToString() != "")
{
    Double total = 0;
    if (Model.scoreList.Count != 0)
    {
        int id = Model.scoreList[0].CompetitionID;
        <h5>
            Scores for Competition
            @ViewData["selectedCompID"].ToString() :
        </h5>

        <div class="table-responsive">
            <table id="viewBook" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Criteria ID</th>
                        <th>Criteria Name</th>
                        <th>Weightage</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.scoreList)
                    {
                        total += item.Score;
                        <tr>
                            <td>@item.CriteriaID</td>
                            <td>@item.CriteriaName</td>
                            <td>@item.Weightage</td>
                            <td>@item.Score</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td><strong>100</strong></td>
                        <td><strong>@total</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <p><a asp-controller="CompetitionSubmission" asp-action="SubmitAppeal" asp-route-id="@id">Submit Appeal</a></p>
        <span style="color:red">@TempData["ErrorMessage"]</span>
    }
    else
    {
        <h5>No score yet for selected competition. Stay tuned!</h5>
    }
}