@model WEB_ASG.Models.CompetitionSubmission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompetitionSubmission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeFileUpload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeFileUpload)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appeal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appeal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ranking)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
