@model WEB_ASG.Models.CompetitionSubmissionViewModel

@{
    ViewData["Title"] = "View Competition Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                <input asp-for="CompetitionID" type="hidden" />
                @Html.Display("CompetitionID")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                <input asp-for="CompetitionName" type="hidden" />
                @Html.Display("CompetitionName")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitorID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                <input asp-for="CompetitorID" type="hidden" />
                @Html.Display("CompetitorID")
            </div>
        </div>

        @if (Model.FileSubmitted != null)
        {
            <div class="form-group row">
                <label asp-for="FileSubmitted"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    <input asp-for="FileSubmitted" type="hidden" />
                    @Html.Display("FileSubmitted")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DateTimeFileUpload"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    <input asp-for="DateTimeFileUpload" type="hidden" />
                    @Html.Display("DateTimeFileUpload")
                </div>
            </div>
        }
        else
        {
            <div class="form-group row">
                <label asp-for="fileToUpload"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input name="fileToUpload" asp-for="fileToUpload" />
                    <br><span style="color:red;">@ViewData["Message1"]</span>
                    <br><span style="color:red;">@ViewData["Message2"]</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Submit"
                           class="btn btn-primary" />
                </div>
            </div>
        }
        <div>
            <a asp-controller="Competitor" asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>