@model WEB_ASG.Models.Competition

@{
    ViewData["Title"] = "EditComp";
    Layout = "_AdminMenu";
}

<h1>Edit Competiton</h1>

<h4>Lion City University</h4>
<hr />
<form asp-action="EditComp">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.CompetitionID)
            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <select asp-for="AreaInterestID" asp-items="@(new SelectList(ViewData["aoiList"] as List<AreaInterest>, "AreaInterestID","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger">@ViewData["Message0"]</span>
            </div>
            <div class="form-group">
                <label asp-for="ResultReleaseDate" class="control-label"></label>
                <input asp-for="ResultReleaseDate" class="form-control" />
                <span asp-validation-for="ResultReleaseDate" class="text-danger">@ViewData["Message1"]</span>
            </div>
        </div>
        <div class="col">
            @if (Model.CompetitionID != 0)
            {
                <div class="form-group">
                    <p class="text-muted">Select a minimum of 2 judges</p>
                    @for (int i = 0; i < Model.JudgeList.Count; i++)
                    {
                        <div class="row">
                            <input asp-for="JudgeList[i].Selected" type="checkbox" class="form-check-input" />
                            <label asp-for="JudgeList[i].Selected" class="col-form-label">@Model.JudgeList[i].JudgeName</label>
                        </div>
                        <input asp-for="JudgeList[i].JudgeID" type="hidden" class="form-check-input" />
                        <input asp-for="JudgeList[i].JudgeName" type="hidden" class="form-check-input" />
                        <input asp-for="JudgeList[i].Salutation" type="hidden" class="form-check-input" />
                        <input asp-for="JudgeList[i].AreaInterestID" type="hidden" class="form-check-input" />
                        <input asp-for="JudgeList[i].EmailAddr" type="hidden" class="form-check-input" />
                        <input asp-for="JudgeList[i].Password" type="hidden" class="form-check-input" />
                    }
                    <span class="text-danger">@ViewData["Message2"]</span>
                </div>
            }
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Admin Home</a>
</div>

