@model WEB_ASG.Models.CompetitionViewModel;
@using System.Diagnostics;

@{
    ViewData["Title"] = "ViewAreaInterest";
    Layout = "_AdminMenu";
}

<h3>Area of Interest: <span class="text-muted">@Model.areaInterestName</span></h3>

@if (Model.competitionList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th>Area Of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.competitionList)
                {
                    <tr>
                        <td>@item.CompetitionID</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.AreaInterest</td>
                        <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
                        <td>@item.EndDate.ToString("MM/dd/yyyy hh:mm tt")</td>
                        <td>@item.ResultReleaseDate.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a asp-action="EditComp" asp-controller="Admin"
                               asp-route-compID="@item.CompetitionID">Edit</a> |
                            <a asp-action="DeleteComp" asp-controller="Admin"
                               asp-route-compID="@item.CompetitionID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}
<div>
    <a asp-action="DeleteAreaInterest" asp-route-aoiID="@Model.areaInterestID">Delete Area of Interest</a> |
    <a asp-action="Index">Back to List</a>
</div>