@model WEB_ASG.Models.AreaInterest
@using System.Diagnostics;

@{
    ViewData["Title"] = "ViewAreaInterest";
}

<h1>Area of Interest:</h1>

<div>
    <h3 class="text-muted">@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.AreaInterestID)
        </dt>
        <dd class="col-9">
            @Html.DisplayTextFor(model => model.AreaInterestID)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-9">
            @Html.DisplayTextFor(model => model.Name)
        </dd>
    </dl>
    <h5 class="text-muted">Competitions:</h5>
    @if (Model.CompetitonList.Count > 0)
    {
        for (int i = 0; i < Model.CompetitonList.Count; i++)
        {
            <dl class="row">
                <dt class="col-3">
                    <label asp-for="CompetitonList[i].CompetitionID">
                        @Model.CompetitonList[i].CompetitionID
                    </label>
                </dt>
                <dd class="col-9">
                    <label asp-for="CompetitonList[i].CompetitionName">
                        @Model.CompetitonList[i].CompetitionName | <a class="btn-link" asp-action="EditComp" asp-route-compID="@Model.CompetitonList[i].CompetitionID">Edit</a> |
                        <a class="btn-link" asp-action="DeleteComp" asp-route-compID="@Model.CompetitonList[i].CompetitionID">Delete</a>
                    </label>
                </dd>
            </dl>
        }
    }
    else
    {
        <p class="text-secondary">No competitions for this area of interest</p>
    }
</div>
<div>
    @Html.ActionLink("Delete Area of Interest", "CreateAreaInterests", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
