@model IEnumerable<WEB_ASG.Models.CompetitionScoreViewModel>
<div >
<h4 style= "margin-bottom:25px" class="PageTitle">Edit Scores</h4>
</div>
<p><a asp-action="AddCriteriaScore">Create New Score</a></p>
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CriteriaID</th>
                    <th>CriteriaName</th>
                    <th>CompetitorID</th>
                    <th>CompetitorName</th>
                    <th>CompetitionID</th>
                    <th>CompetitionName</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CriteriaID.ToString()</td>
                    <td>
                        @item.CriteriaName
                    </td>
                    <td>@item.CompetitorID.ToString()</td>
                    <td>@item.CompetitorName</td>
                    <td>@item.CompetitionID</td>
                    <td>@item.CompetitionName</td>

                    <td>@item.Score.ToString()</td>
                    <td>
                        <a asp-action="EditScores" asp-controller="Judge"
                           asp-route-id="@item.CriteriaID">Edit</a> |
                        <a asp-action="DeleteScores" asp-controller="Judge"
                           asp-route-id="@item.CriteriaID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}

<div>
    <a asp-action="Index">Back to Index</a>
</div>
